*{
	margin: 0;
	font-family: Georgia, serif;
}

#body1{
	
background: rgb(85,55,9);
background: linear-gradient(90deg, rgba(85,55,9,1) 5%, rgba(105,65,21,1) 10%, rgba(125,80,17,1) 13%, rgba(189,141,78,1) 49%, rgba(249,227,161,1) 92%);
z-index: 0;
position: absolute;
width: 100%;
height: 800px;
}


.img_tag{
	margin: 40px;
	margin-left: 70px;
	opacity: 100%;
	border-radius: 100px;

}
div{
	padding: 20px;
	background-color: black;
	opacity: 90%;
	height: 400px;
}
.div_style{
	
	border-radius: 100px;
	margin-left: 0px;
	position: absolute;
	z-index: 1;
	background-color: transparent;
}
#profile_details{
	background-color: rgb(105, 65, 42,0.5);
	border: 5px solid #362115;
	border-radius: 20px;
	position: absolute;
	width: 300px;
	height: 300px;
	margin-left: 560px;
	margin-top: 60px;
	z-index: 2;
}
div.skills_style{

	background-color: rgb(105, 65, 42,0.8);
	border: 5px solid #362115;
	border-radius: 20px;
	position: absolute;
	width: 300px;
	height: 300px;
	margin-top: 60px;
	margin-left: 920px;
	z-index: 2;
}

div.edu{
	background-color: rgb(105, 65, 42,0.6);
	border: 5px solid #362115;
	border-radius: 20px;
	position: absolute;
	width: 300px;
	height: 300px;
	margin-top: 420px;
	margin-left: 370px;
	z-index: 2;
}

div.workexp{
	background-color: rgb(105, 65, 42,0.7);
	border: 5px solid #362115;
	border-radius: 20px;
	position: absolute;
	width: 300px;
	height: 300px;
	margin-top: 420px;
	margin-left: 730px;
	z-index: 2;
}

h2::first-letter {
  color: #ff0000;
  font-size: xx-large;
}

p.pseudo::first-letter {
  color: #white;
  font-size: xx-large;
}

h2.wrkexp::before {
  content: url(work-exp.gif);
}

::selection {
  color: red;
  background: pink;
}
